<div class="mainpage_content">
	<table class="book_table">
		<tr>
			<td colspan="2" class="table_header" style="line-height: 2.5">
				Hello my name is David and I love books. I like zombo.com too.
			</td>
		</tr>
		<tr>
			<td colspan="2" class="table_header" style="line-height: 2.5">
				Creators
			</td>
		</tr>
		<tr>
			<td colspan="2" class="book_details" style="text-align: center">
				Creators@website.com
			</td>
		</tr>
  	</table>
</div>