<% if !env['warden'].user %>
<script>
	$("#submit_signup").css({opacity: 0.5});
	$(document).live('keyup', function (){
		if ($("#password").val() && $("#email").val() && $("#firstname").val() && $("#lastname").val()){
			$("#submit_signup").css({opacity: 1});
		}
		else {
			$("#submit_signup").css({opacity: 0.5});
		}
	});
	$("#form_signup").live('submit', function (e){
		if ($("#password").val() && $("#email").val() && $("#firstname").val() && $("#lastname").val()){
		}
		else {
			return false;
		}
	});
</script>
<div class="mainpage_content">
	<span class="mainpage_small_login">
		<form action='/login' method='post' >
  				<input type="email" name="email" placeholder="Email"/>
  				<input type="password" name="password" placeholder="Password"/>
				<input type="submit" value="Log in"/>
		</form>
	</span>
	<table class="book_table">
		<tr>
			<td colspan="2" class="table_header" style="line-height: 2.5">
				New here?
			</td>
		</tr>
		<tr>
			<td colspan="2" class="book_details" style="text-align: center">
				Sign up:
			</td>
		</tr>
		<tr>
		<form action='/user/create' method='post' class="mainpage_signup" id="form_signup">
			<td style="text-align: right; width: 50%" class="book_details">Email: 
			</td>
			<td>
				<input type="text" name="email" id="email" placeholder="•••••@domain.com"/>
			</td>
		</tr>
		<tr>
			<td style="text-align: right; width: 50%" class="book_details">Password: 
			</td>
			<td>
				<input type="password" name="password" id="password" placeholder="Password"/>
			</td>
		</tr>
		<tr>
			<td style="text-align: right; width: 50%" class="book_details">First Name: 
			</td>
			<td>
				<input type="text" name="firstname" placeholder="First name" id="firstname"/>
			</td>
		</tr>
		<tr>
			<td style="text-align: right; width: 50%" class="book_details">Last name: 
			</td>
			<td>
				<input type="text" placeholder="Last name" name="lastname" id="lastname"/>
			</td>
		</tr>
		<tr>
			<td style="text-align: right; width: 50%" class="book_details">Phone number (optional): 
			</td>
			<td>
				<input type="text" placeholder="••• ••• ••••" name="phone"/>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: center">
				<input type="submit" value="Sign up" id="submit_signup"/>
			</td>
		</tr>
  		</form>
  	</table>
</div>
<% end %>