* {
    font: 14px "Lucida Grande", Lucida, Verdana, sans-serif;
}
a, a i, a strong {
    text-decoration: none;
}
body, html {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    background: rgb(254,254,254);
}
::selection,::-moz-selection {
  color: #fff;
  color: rgba(255, 255, 255, 0.85);
  background: #ea4c89;
}
td, td a, td a i{
    color: black;
}
i{
    font-style:italic;
}

.book_details, .book_details a, .book_details label{
    font-size: 11px;
    color: #999;
}
.book_details a {
    font-size: 11px;
    color: #333;
}
.book_details_sold {
    font-size: 11px;
    color:rgb(230,0,0);
    font-weight: bold;
}

.table_header{
    color: #777;
    font-weight: bold;
    text-align: center;
    line-height: 3;
}

.bottombar{
    position: fixed;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: #3B5998;
    color: #D8DFEA;
    z-index: 3000;
}

.topbar{
    position: fixed;
    top: 0px;
    height: 30px;
    width: 100%;
    background: #3B5998;
    color: #D8DFEA;
    z-index: 3000;
    white-space:nowrap;
    border-bottom: 1px solid #133783;
    -moz-box-shadow:  0 0 5px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow:  0 0 5px 2px rgba(0,0,0,0.5);
    box-shadow:  0 0 5px 2px rgba(0,0,0,0.5);
    overflow: hide;
}
.topbar table{
    width: 100%;
}

.topbar input[type="submit"],
.topbar input[type="button"]{
    display: inline-block;
    cursor: pointer;
    font-size: 11px;
    color: white;
    vertical-align: top;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0976563) 0px 1px 0px 0px;
    background: #5b74a8;
    border-bottom-color: #1A356E;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: separate;
    border-left-color: #29447E;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #29447E;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #29447E;
    border-top-style: solid;
    border-top-width: 1px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius:  5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-appearance: none;
}

.topbar input[type="submit"]:active,
.topbar input[type="button"]:active{
    -moz-box-shadow:  inset 0 0 5px 1px #1A356E;
    -webkit-box-shadow:  inset 0 0 5px 1px #1A356E;
    box-shadow:  inset 0 0 5px 1px #1A356E;
    background: rgb(85, 108, 157);
    -webkit-appearance: none;
}

.mainpage_content input[type="submit"],
.mainpage_content input[type="button"],
.bottombar input[type="submit"],
.bottombar input[type="button"]{
    display: inline-block;
    cursor: pointer;
    font-size: 11px;
    padding: 2px 6px;
    color: #666;
    vertical-align: top;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0976563) 0px 1px 0px 0px;
    background: rgb(250,250,250);
    border-bottom-color: #999;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: separate;
    border-left-color: #999;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #999;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(200,200,200);
    border-top-style: solid;
    border-top-width: 1px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius:  5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.mainpage_content input[type="submit"]:active,
.mainpage_content input[type="button"]:active,
.bottombar input[type="submit"]:active,
.bottombar input[type="button"]:active
{
    -moz-box-shadow:  inset 0 0 5px 1px #999;
    -webkit-box-shadow:  inset 0 0 5px 1px #999;
    box-shadow:  inset 0 0 5px 1px #999;
    background: rgb(248, 248, 248);
}

.tobpar table, .topbar td{
    height: 26px;
}

.bottombar label,
.bottombar a,
.topbar label,
.topbar a,
.topbar td,
.bottombar td{
    color: #D8DFEA;
}

.topbar label{
    font-size: 10px;
}
.bottombar label:hover,
.bottombar a:hover,
.topbar label:hover,
.topbar a:hover{
    color:white;
}
.bottombar input[type="text"],
.topbar input[type="text"],
.topbar input[type="password"],
#new_item_form input[type="text"],
#new_item_form textarea{
    border: 1px solid #BDC7D8;
    -webkit-user-select: text;
    outline: none;
    color: #777;
    -webkit-appearance: none;
}

#new_item_form input[type="number"]{
    border: 1px solid #BDC7D8;
    outline: none;
    color: #777;
    -webkit-appearance: none;
}

.mainpage_content{
    padding-top: 50px;
    padding-bottom:50px;
    padding-left: 10px;
}

.book_table {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
}

#book_listings tr:nth-of-type(2n+3) {
background: rgb(243, 246, 250);
}

.mainpage_small_login{
    display: none;
}
@media handheld, only screen and (max-width: 650px){
.book_table {
  width: 95%;
}
.topbar {
    position:absolute;
    -moz-box-shadow:  none;
    -webkit-box-shadow:  none;
    box-shadow:  none;
}
#new_item_form input[type="submit"]{
    width: 50px;
    height: 30px;
    font-size: 13px;
    -webkit-appearance: none;
}
/*
SIGNIN BUTTONS
*/
.topbar label,
.topbar input[type="text"],
.topbar input[type="password"],
.topbar input[type="submit"]
{
    display: none;
}
/*
Remove:

    "Signed up as *****,"

when page is too small
*/
.mainpage_logout .signin_comment{
    display: none;
}
/*
Make vertical login box appear:

        Sign in:

        Username
        ••••••••

        New here?

        Username
        ••••••••

*/
.mainpage_small_login, .mainpage_small_login input{
    display: block;
}
.mainpage_small_login input{
    width: 200px;
    position: relative;
    margin-top: 5px;
    margin-left: -100px;
    left: 50%;
    border: 1px solid #BDC7D8;
    -webkit-user-select: text;
    outline: none;
    color: #777;
    -webkit-appearance: none;
}
.mainpage_small_login input[type="submit"]{
    width: 100px;
    margin-left: -50px;
    height: 40px;
    font-size: 15px;
}
.mainpage_signup input[type="text"]{
    position: absolute;
    margin-left: -100px;
    left: 50%;
    right: 115px;
    top: 230px;
    width: 200px;
    border: 1px solid #BDC7D8;
    -webkit-user-select: text;
    outline: none;
    color: #777;
    -webkit-appearance: none;
}
.mainpage_signup input[type="password"]{
    position: absolute;
    margin-left: -100px;
    left: 50%;
    top: 260px;
    width: 200px;
    border: 1px solid #BDC7D8;
    -webkit-user-select: text;
    outline: none;
    color: #777;
    -webkit-appearance: none;
}
.mainpage_signup input[type="submit"]{
    position: absolute;
    margin-left: -50px;
    left: 50%;
    top: 290px;
    width: 100px;
    height: 40px;
    font-size: 15px;
    -webkit-appearance: none;
}
}

    /* 